<header class="text-primary-text flex justify-between px-8 h-[10vh] ">
  <div class="flex items-center">
    <img src="logo-clickzone-white.png"  alt="Logo ClickZone" width="50px" />
    <h1 class="text-logo text-primary-text font-bold">ClickZone</h1>
  </div>

  <nav class="flex items-center text-3xl">
    <ul class="flex gap-3">
      <li>
        <label>
          <input type="text" placeholder="Buscar producto" class="text-lg border-primary-text border-solid border-b"/>
          <ng-icon name="heroMagnifyingGlassMicro" />
        </label>
      </li>
      <li>
        <ng-icon name="heroShoppingCartMicro" />
    </li>
    <li>
        <ng-icon name="heroHeartMicro" />
    </li>
    <li>
        <ng-icon name="heroUserMicro" />
      </li>
    </ul>
  </nav>
</header>
